<div class="container" align="center" class="mar">
  <span class="titulo">Conócenos</span>
</div>

<div class="mar1" align="center">
    <div class="card" style="width: 50rem;">
        <img src="../../../assets/images/Primaria/ima9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

<div class="mar1">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <span class="mv">Mision</span>
          <p class="card-text" align="justify">Somos una institución educativa fundamentada en el Bien, la Verdad y la
            Justicia; dedicada al desarrollo integral de nuestra comunidad,
            que contribuye a la formación de personas con valores humanistas, constructoras de conocimientos, dispuestas
            a cumplir con los compromisos que todo ser humano tiene con la Familia y
            la Sociedad.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <span class="mv">Vision</span>
          <p class="card-text" align="justify">En 2022 el Fray Iganacio Toriz será una comunidad educativa con calidad reconocida en la
            zona de influencia que,
            a través de programas de calidad en sus distintos niveles educativos y áreas de conocimiento, egresen
            personas que trasciendan su formación al
            integrarse de manera productiva a la sociedad.</p>
        </div>
      </div>
    </div>
  </div>
</div>


