<div class="mv4">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="veralumno()">Consults</button>
    <button mat-menu-item (click)="update()">Update</button>
    <button mat-menu-item (click)="register()">Register</button>
    <button mat-menu-item (click)="aviso()">Aviso Calificasiones</button>
  </mat-menu>
  <img src="../../../assets/images/icons.png" alt="menu" [matMenuTriggerFor]="appMenu" width="30px">

</div>


<div class="container" align="center">
  <iframe width="933" height="700"
    src="https://app.powerbi.com/view?r=eyJrIjoiMGZhODM0YzktY2UyNi00YjFkLThmMTctOWQ1NjgzOTMxNGZjIiwidCI6ImQ4ZTY1OGNiLWZhZmYtNGM1NS04MWY4LTA1ZWYwYjliZDQ2YyJ9"
    frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="container mvPawerBI" align="center">
  <iframe width="933" height="700"
    src="https://app.powerbi.com/view?r=eyJrIjoiYTcxODg3OTctNDYyNy00NGQ5LThjNjYtNDc1MWY1MDVjZWVlIiwidCI6ImQ4ZTY1OGNiLWZhZmYtNGM1NS04MWY4LTA1ZWYwYjliZDQ2YyJ9"
    frameborder="0" allowFullScreen="true"></iframe>
</div>
