<div class="container">
    <mat-tab-group class="margen">
      <mat-tab label="Observaciones">
        <div class="container mv1" align="center">
          <label class="ti"> Observaciones Generales </label>
          <table class="table " id="contenido">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Matricula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Observacion</th>
                <th scope="col">Bimestre</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of observaciones" >
                <th scope="row"> {{data.id_alumno}} </th>
                <td> {{data.matricula}} </td>
                <td> {{data.nombre}} </td>
                <td> {{data.observacion}} </td>
                <td> {{data.bimestre}} </td>

              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

  <div class="container">
    <div class="input-group marginUpload">
      <div class="input-group-prepend">
        <span class="input-group-text mouse" id="inputGroupFileAddon01" (click)="UploadObservaciones()">Upload</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01"
          aria-describedby="inputGroupFileAddon01" (change)="FilechangeObservaciones($event)">
        <label class="custom-file-label" for="inputGroupFile01">Observaciones</label>
      </div>
    </div>
    </div>
