<div class="container">
  <mat-tab-group class="margen">
    <mat-tab label="Español">
      <div class="container mv1" align="center">
        <label class="ti"> Calificasiones Español </label>
        <table class="table " id="contenido">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Matricula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Calificasion Bimestre 1</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of calificasion" >
              <th scope="row"> {{data.id}} </th>
              <td> {{data.matricula}} </td>
              <td> {{data.nombre}} </td>
              <td> {{data.espanol}} </td>

            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Matematicas">
        <div class="container mv1" align="center">
            <label class="ti"> Calificasiones Matematicas </label>
            <table class="table " id="contenido">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Matricula</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Calificasion Bimestre 1</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of calificasion" >
                  <th scope="row"> {{data.id}} </th>
                  <td> {{data.matricula}} </td>
                  <td> {{data.nombre}} </td>
                  <td> {{data.matematicas}} </td>

                </tr>
              </tbody>
            </table>
          </div>
    </mat-tab>
    <mat-tab label="Artes">
        <div class="container mv1" align="center">
            <label class="ti"> Calificasiones Artes </label>
            <table class="table " id="contenido">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Matricula</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Calificasion Bimestre 1</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of calificasion" >
                  <th scope="row"> {{data.id}} </th>
                  <td> {{data.matricula}} </td>
                  <td> {{data.nombre}} </td>
                  <td> {{data.artes}} </td>

                </tr>
              </tbody>
            </table>
          </div>
    </mat-tab>
    <mat-tab label="Lectura">
        <div class="container mv1" align="center">
            <label class="ti"> Calificasiones Lectura </label>
            <table class="table " id="contenido">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Matricula</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Calificasion Bimestre 1</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of calificasion" >
                  <th scope="row"> {{data.id}} </th>
                  <td> {{data.matricula}} </td>
                  <td> {{data.nombre}} </td>
                  <td> {{data.lectura}} </td>

                </tr>
              </tbody>
            </table>
          </div>
    </mat-tab>
    <mat-tab label="Historia">
        <div class="container mv1" align="center">
            <label class="ti"> Calificasiones Historia </label>
            <table class="table " id="contenido">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Matricula</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Calificasion Bimestre 1</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of calificasion" >
                  <th scope="row"> {{data.id}} </th>
                  <td> {{data.matricula}} </td>
                  <td> {{data.nombre}} </td>
                  <td> {{data.historia}} </td>

                </tr>
              </tbody>
            </table>
          </div>
    </mat-tab>
    <mat-tab label="Educacion Fisica">
        <div class="container mv1" align="center">
            <label class="ti"> Calificasiones Educacion Fisica </label>
            <table class="table " id="contenido">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Matricula</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Calificasion Bimestre 1</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of calificasion" >
                  <th scope="row"> {{data.id}} </th>
                  <td> {{data.matricula}} </td>
                  <td> {{data.nombre}} </td>
                  <td> {{data.educasionF}} </td>

                </tr>
              </tbody>
            </table>
          </div>
    </mat-tab>
  </mat-tab-group>
</div>
