<div class="container">
  <mat-tab-group class="margen">
    <mat-tab label="Español">
      <div class="container mv1" align="center">
        <label class="ti"> Calificasiones Español </label>
        <table class="table " id="contenido">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Alumnos</th>
              <th scope="col">Bimestre 1</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Jose Antonio Ramirez Hernandez</td>
              <td></td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>García García María </td>
              <td></td>


            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Hernández Hernández Francisco </td>
              <td></td>

            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Sánchez Hernández Alejandro </td>
              <td></td>

            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Hernández Hernández Mariana </td>
              <td></td>

            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Ramirez Perez Sandra </td>
              <td></td>

            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Matematicas">
        <div class="container mv1" align="center">
            <label class="ti"> Calificasiones Matematicas </label>
            <table class="table " id="contenido">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Alumnos</th>
                  <th scope="col">Bimestre 1</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Jose Antonio Ramirez Hernandez</td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>García García María </td>
                  <td></td>


                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Hernández Hernández Francisco </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Sánchez Hernández Alejandro </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Hernández Hernández Mariana </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Ramirez Perez Sandra </td>
                  <td></td>

                </tr>
              </tbody>
            </table>
          </div>
    </mat-tab>
    <mat-tab label="Artes">
        <div class="container mv1" align="center">
            <label class="ti"> Calificasiones Artes </label>
            <table class="table " id="contenido">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Alumnos</th>
                  <th scope="col">Bimestre 1</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Jose Antonio Ramirez Hernandez</td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>García García María </td>
                  <td></td>


                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Hernández Hernández Francisco </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Sánchez Hernández Alejandro </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Hernández Hernández Mariana </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Ramirez Perez Sandra </td>
                  <td></td>

                </tr>
              </tbody>
            </table>
          </div>
    </mat-tab>
    <mat-tab label="Lectura">
        <div class="container mv1" align="center">
            <label class="ti"> Calificasiones Lectura </label>
            <table class="table " id="contenido">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Alumnos</th>
                  <th scope="col">Bimestre 1</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Jose Antonio Ramirez Hernandez</td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>García García María </td>
                  <td></td>


                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Hernández Hernández Francisco </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Sánchez Hernández Alejandro </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Hernández Hernández Mariana </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Ramirez Perez Sandra </td>
                  <td></td>

                </tr>
              </tbody>
            </table>
          </div>
    </mat-tab>
    <mat-tab label="Historia">
        <div class="container mv1" align="center">
            <label class="ti"> Calificasiones Historia </label>
            <table class="table " id="contenido">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Alumnos</th>
                  <th scope="col">Bimestre 1</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Jose Antonio Ramirez Hernandez</td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>García García María </td>
                  <td></td>


                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Hernández Hernández Francisco </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Sánchez Hernández Alejandro </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Hernández Hernández Mariana </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Ramirez Perez Sandra </td>
                  <td></td>

                </tr>
              </tbody>
            </table>
          </div>
    </mat-tab>
    <mat-tab label="Educacion Fisica">
        <div class="container mv1" align="center">
            <label class="ti"> Calificasiones Educacion Fisica </label>
            <table class="table " id="contenido">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Alumnos</th>
                  <th scope="col">Bimestre 1</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Jose Antonio Ramirez Hernandez</td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>García García María </td>
                  <td></td>


                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Hernández Hernández Francisco </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Sánchez Hernández Alejandro </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Hernández Hernández Mariana </td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Ramirez Perez Sandra </td>
                  <td></td>

                </tr>
              </tbody>
            </table>
          </div>
    </mat-tab>
  </mat-tab-group>
</div>
