.mv{
  margin-top: 3rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}
.mov{
  margin-top: 3rem;;
}
.car{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
}
.car1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: white;
}.car2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: white;
}
.marginUpload{
  margin-top: 2rem;
}
.mouse{
  cursor: pointer;
}
