<div>
  <kendo-pdf-export #pdf paperSize="A4" forcePageBreak=".page-break" margin="0.5cm" [imageResolution]="120"
    [scale]="0.5" [repeatHeaders]="true">
    <div id="contenido" #contenido class="container" >
      <div class="mv1">
        <img src="../../../assets/images/Primaria/sep.png" class="rounded float-left" alt="..." width=230px>
        <img src="../../../assets/images/Primaria/logop.png" class="rounded float-right" alt="..." width=100px>
      </div>
      <div class="mv" align="center">
        <span>
         Colegio Maral
        </span>
      </div>
      <div class="mv2">
        <label class="la"> Fecha: 14 de octubre del 2019 </label>
      </div>

      <div>
        <table id="contenido" #contenido>
          <thead>
            <tr class="table-active tipo">
              <th> <samp style="height: 2xpx"> No. Control:</samp></th>
              <th> <span> Nombre del Alumno: </span> </th>
              <th> <span> Nombre del Tutor: </span> </th>

            </tr>
          </thead>
          <tbody>
            <tr class="table-light tipo1">
              <td> <span>A-15090100</span> </td>
              <td> <span>Andrea Nava </span> </td>
              <td> <span>Beatriz Villaseñor</span> </td>

            </tr>
            <tr class="table-active tipo">
              <th> <span>Año Actual:</span> </th>
              <th> <span>Profesor Actual:</span> </th>
              <th> <span>No. Reportes:</span> </th>

            </tr>
            <tr class="table-light tipo1">
              <td> <span>5° grado</span> </td>
              <td> <span>Omar Vega</span> </td>
              <td> <span>0</span> </td>

            </tr>
          </tbody>
        </table>
      </div>

      <div class="container mv1" align="center" >
        <label class="ti"> Calificasiones </label>
        <table class="table " id="contenido">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Materias</th>
              <th scope="col">Bimestre 1</th>
              <th scope="col">Bimestre2</th>
              <th scope="col">Bimestre3 </th>
              <th scope="col">Bimestre4 </th>
              <th scope="col">Bimestre5 </th>
              <th scope="col">Promedio por Materia </th>
            </tr>
          </thead>
          <tbody>
            <tr  >
              <td scope="row"> {{cali['id']}} </td>
              <td>Español</td>
              <td> {{cali['espanol']}} </td>

            </tr>
            <tr   >
              <td scope="row"> {{cali['id']}} </td>
              <td>Matematicas</td>
              <td>  {{cali['matematicas']}} </td>

            </tr>
            <tr  >
              <td scope="row"> {{cali['id']}} </td>
              <td>Artes</td>
              <td> {{cali['artes']}} </td>

            </tr>
            <tr  >
              <td scope="row"> {{cali['id']}} </td>
              <td>Lectura</td>
              <td>  {{cali['lectura']}} </td>

            </tr>
            <tr  >
              <td scope="row"> {{cali['id']}}</td>
              <td>Historia</td>
              <td>  {{cali['historia']}} </td>

            </tr>
            <tr >
              <td scope="row"> {{cali['id']}} </td>
              <td>Educacion Fisica</td>
              <td>  {{cali['educasionF']}} </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </kendo-pdf-export>
</div>


<div class="container">
  <button  type="button" class="btn btn-primary btn-lg btn-block"  id="genrate_pdf" kendo-button (click)="pdf.saveAs('Calificasiones.pdf')" >Export to PDF</button>
</div>
