<div id="contenido" #contenido class="container">
  <div class="mv1">
    <img src="../../../assets/images/Primaria/sep.png" class="rounded float-left" alt="..." width=230px>
    <img src="../../../assets/images/Primaria/logop.png" class="rounded float-right" alt="..." width=100px>
  </div>
  <div class="mv" align="center">
    <span>
      Page Tutor
    </span>
  </div>
  <div class="mv2">
    <label class="la"> Fecha: 14 de octubre del 2019 </label>
  </div>

  <div>
    <table>
      <thead>
        <tr class="table-active tipo">
          <th> <samp style="height: 2xpx"> No. Control:</samp></th>
          <th> <span> Nombre del Alumno: </span> </th>
          <th> <span> Nombre del Tutor: </span> </th>

        </tr>
      </thead>
      <tbody>
        <tr class="table-light tipo1">
          <td> <span>15090169</span> </td>
          <td> <span>Jose Antonio Ramirez Hernandez</span> </td>
          <td> <span>Juan Antonio Ramirez Rivera</span> </td>

        </tr>
        <tr class="table-active tipo">
          <th> <span>Año Actual:</span> </th>
          <th> <span>Profesor Actual:</span> </th>
          <th> <span>No. Reportes:</span> </th>

        </tr>
        <tr class="table-light tipo1">
          <td> <span>5° grado</span> </td>
          <td> <span>Alejandra Reyes Castillo</span> </td>
          <td> <span>2</span> </td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="container mv1" align="center" >
    <label class="ti"> Calificasiones </label>
    <table class="table " id="contenido">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Materias</th>
          <th scope="col">Bimestre 1</th>
          <th scope="col">Bimestre2</th>
          <th scope="col">Bimestre3 </th>
          <th scope="col">Bimestre4 </th>
          <th scope="col">Bimestre5 </th>
          <th scope="col">Promedio por Materia </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Español</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Matematicas</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Artes</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Lectura</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Historia</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Educacion Fisica</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="pdf()">Export to PDF</button>
</div>
